{% extends 'admin/core/base.twig' %}
{% import 'admin/core/ui.twig' as ui %}
{% block content %}

    {% embed 'admin/core/3col.twig' %}
        {% block col_1 %}
            {% embed 'admin/core/stack.twig' with {'title':"Database <small>Tables</small>"} %}
                {% block body %}
                    {{ ui.stack_link(db.dev_table('users')) }}
                    {{ ui.stack_link(db.dev_table('test')) }}
                    {{ ui.stack_link(db.dev_table('locations')) }}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}



{% endblock %}