<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{ title|raw }}</h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <ul class="nav nav-stacked">
            {% block body %}

            {% endblock %}

        </ul>

    </div><!-- /.box-body -->
</div><!-- /.box -->